@import "../node_modules/normalize.css/normalize.css";
.navigation__link, .footer-navigation__links a, .logo-path, .button {
  transition: all 0.3s ease-out;
}

.promo__text, .footer-navigation__links, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

.button, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 4.4rem;
  line-height: 5.4rem;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 4.6rem;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.block-shadowed {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
}

.button {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 11px 25px 13px;
  border-radius: 4px;
  cursor: pointer;
}
.button_bordered {
  background-color: #ffffff;
  border: 1px solid #D7D7D7;
  color: #544837;
}
.button_bordered:hover {
  background-color: #BCD0E5;
  border-color: #BCD0E5;
}
.button_colored {
  background-color: #FF9900;
  border: 1px solid #FF9900;
  color: #ffffff;
  border: none;
}
.button_colored:hover {
  background-color: #FF7549;
  border-color: #FF7549;
}

.link-button {
  color: #FF9900;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: inline-flex;
  align-items: center;
}

.link-button__text {
  margin-left: 9px;
}

.logo-svg:hover .logo-path {
  fill: #FF9900;
}

.ico {
  cursor: pointer;
}

.icon-square {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-square_yellow {
  background-color: #FAB005;
}
.icon-square_violet {
  background-color: #7752BE;
}
.icon-square_red {
  background-color: #F03E3D;
}
.icon-square_blue {
  background-color: #4DADF7;
}

.ico_play {
  background-image: url("../../img/icons/play.svg");
  width: 18px;
  height: 19px;
}

.ico_arrow {
  background-image: url("../../img/icons/arrow.svg");
  width: 12px;
  height: 17px;
}

.ico_snake {
  background-image: url("../../img/icons/snake.svg");
  width: 18px;
  height: 14px;
}

.ico_heart {
  background-image: url("../../img/icons/heart.svg");
  width: 17px;
  height: 15px;
}

.ico_clock {
  background-image: url("../../img/icons/clock.svg");
  width: 15px;
  height: 17px;
}

.ico_phone {
  background-image: url("../../img/icons/ico_phone.svg");
  width: 25px;
  height: 25px;
}

.ico_letter {
  background-image: url("../../img/icons/ico_mail.svg");
  width: 25px;
  height: 25px;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2.8rem;
}
.tag_selected {
  background-color: #FF9900;
  color: #ffffff;
}
.tag_bordered {
  border: 1px solid #D7D7D7;
}
.tag_colored {
  background-color: #F5F5F5;
  padding: 5px 14px;
}

.strategies__tags {
  margin: 0;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0509803922);
  padding: 15px 0 17px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons > .button {
  margin-left: 14px;
}

.header__buttons > .button:first-child {
  margin-left: 0;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.footer {
  padding: 60px 0 70px;
}

.footer__wrapper {
  display: flex;
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  padding-left: 0;
  list-style-type: none;
}
.footer-navigation__links a {
  color: #544837;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.5rem;
  text-decoration: none;
}
.footer-navigation__links a:hover {
  color: #FF9900;
}

.contact-us {
  background-color: #FFEEE1;
  padding: 62px 82px;
}

.contact-us__title {
  margin: 0 0 17px;
}

.contact-us__text {
  margin: 0 0 34px;
}

.contact-us__link {
  margin: 0 0 19px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.6rem;
}
.contact-us__link a {
  margin-left: 11px;
  color: #544837;
  text-decoration: none;
}
.contact-us__link:hover a {
  text-decoration: underline;
}

.contact-us__form input, .contact-us__form textarea {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 5px;
}
.contact-us__form input:focus, .contact-us__form textarea:focus {
  border-color: #FF9900;
  outline: none;
}
.contact-us__form textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.contact-us__line {
  margin-bottom: 19px;
}

.contact-us__button > * {
  min-width: 117px;
}

.promo {
  padding: 30px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  max-width: 486px;
  margin: 0 0 45px;
}

.promo__content {
  padding-right: 65px;
}

.promo__buttons > * {
  margin-right: 44px;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #FF9900;
}

.tools__wrapper {
  padding-bottom: 90px;
  background-image: url("../../img/tools/Bg.svg");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tools__title {
  max-width: 462px;
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}

.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin: 0 0 16px;
}

.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}

.strategy-wrapper > * {
  margin-bottom: 30px;
}

.strategy__content {
  margin: 24px 33px 26px;
}

.strategy__name {
  margin: 0 0 29px;
}

.about-us {
  padding: 30px 0 100px 0;
}

.about-us__title {
  margin: 0 0 14px;
}

.about-us__description {
  margin: 0 0 45px;
}

.employee-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.employee {
  padding: 35px 0;
  margin-right: 64px;
  padding: 35px;
  position: relative;
  width: calc(30% - 32px);
}

.employee__name {
  margin: 0;
}

.employee__title {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6rem;
}

.employee__contact {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6rem;
  color: #1943EF;
  text-decoration: none;
}

.employee__photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  position: absolute;
  right: -32px;
  top: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=style.css.map */
